* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--accent-color: #4183d7;
	--background-color: linear-gradient(135deg, #ff8cba 0%, #bdb9e8 100%);
	--light-background: #333;
	--text-color: #f8f8f8;
	--chatbox-color: #555;
}

/* img {
	height: 80%;
	width: 20%;
	border-radius: 50%;
} */

body {
	font-family: sans-serif;
	color: var(--text-color);

	background: var(--background-color);

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;

	background-color: #2e2e2e;

	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

	height: 80vh;
	width: 40vw;
	max-height: 80%;
	margin: 20px;
	padding: 40px;

	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.header {
	display: flex;
	align-items: center;

	margin: 20px;

	color: var(--accent-color);
}

.header .avatar {
	/* align-self: center; */

	width: 50px;
	padding: 5px;

	border-radius: 50%;

	animation: pulseAvatar 1.5s infinite;
}

@keyframes pulseAvatar {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

.header h3 {
	margin-left: 20px;
	margin-right: auto;

	font-size: 24px;
}

.chat {
	background-color: var(--chatbox-color);

	height: 100%;
	padding: 10px;

	border-radius: 20px;
	overflow-y: auto;
}

.message {
	font-size: 16px;
	line-height: 25px;

	width: fit-content;
	max-width: 450px;
	margin: 20px 10px;
	padding: 20px;

	border-radius: 20px;
}

.message.joke {
	background-color: var(--accent-color);
	color: #fff;

	border-top-left-radius: 0px;
	padding: 30px;
}

.message.response {
	background-color: #eee;
	color: #000;

	border-top-right-radius: 0px;

	margin-left: auto;
	padding-right: 30px;
}

.btn {
	background-color: var(--accent-color);
	color: #fff;

	font-family: inherit;
	font-size: 18px;

	border: 0;
	border-radius: 30px;

	padding: 14px 40px;
	margin: 20px;

	cursor: pointer;

	transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover {
	background-color: blue;
}
