input {
  appearance: none;  /*remove default native styling*/
  position: relative;
  background-color: #999;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  cursor: pointer;
}

input::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 70%;
  width: 40%;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: left .3s;
}

input:hover {
  background-color: #ccc;
}

input:checked {
  background-color: blue;
}

input:checked::after {
  left: 70%;
}