.carousel {
	border: 5px solid violet;
	display: flex;
	width: 90%;
	margin: 100px auto;
	overflow-x: auto;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	animation: spin 10s infinite linear;
	padding-right: 1rem;
}

.card {
	/* flex: grow shrink basis */
	flex: 0 0 3em;
	background-color: greenyellow;
	padding: 0.5rem;
	height: 10rem;
	font-size: 3rem;
	align-content: center;
	text-align: center;
	border-radius: 1.5rem;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes spin {
	from {
		translate: 0;
	}
	to {
		translate: -100%;
	}
}
