* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;

	background-color: rgb(8, 8, 8);
}

#clock {
	background: linear-gradient(125deg, black, rgb(29, 29, 171));

	color: rgb(77, 255, 178);
	font-size: 10rem;

	width: fit-content;
	padding: 10px 20px;

	/* Ideal way to center  */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 2px solid rgb(77, 255, 178);
	box-shadow: 0 0 20px rgb(77, 255, 178);
}
