* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;

	background-color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;

	transition: background-color 0.3s ease-in-out;
}

.container {
	background-color: white;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 12px;

	overflow: hidden;
	text-align: center;
	padding: 30px;
	width: auto;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

#color-display {
	width: 400px;
	height: 200px;
	margin: 20px auto;

	border: 2px solid black;
	border-radius: 12px;

	transition: background-color 0.3s ease-in-out;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* border: 2px solid black; */
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 10px 0 10px 80px;
	width: 400px;

	/* border: 1px solid black; */
}

.slider-container {
	display: flex;
	align-items: center;

	width: 80%;
	margin-left: 40px;

	/* border: 1px solid black; */
}

label {
	width: 50px;
	font-weight: bold;
	text-align: left;
}

input {
	width: 60%;
	margin-right: 10px;
}

#copy-button {
	background-color: red;
	color: ghostwhite;

	border: none;
	border-radius: 10px;

	padding: 10px 15px;
	margin-top: 20px;

	cursor: pointer;
}
