body {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
	color: white;
}

.loading__anim {
	width: 100px;
	height: 100px;
	border: 30px solid rgba(189, 189, 189, 0.25);
	border-radius: 50%;
	border-left-color: rgba(3, 155, 229, 1);
	border-top-color: rgba(3, 155, 229, 1);
	display: inline-block;
	animation: rotate 800ms infinite linear;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
